:root {
    --black: #202022;
    --light-green: #08424f;
    --blue: #b5d3da;
    --yellow: #f0deb0;
    --orange: #ed9e35;
    --brown: #5d3c2c;
    --carrot: #f46f1d;
    --dark-orange: #ca672b;
    --olive: #a3bd99;
    --mint: #93dfdf;

    --text: #08424f;
    --highlight: #117f98;

    --button-background: #f4f4f4dc;

    --size: 50px;
    --ratio: 1.2;
    --transition-time: 0.3s;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--blue);
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-wrapper label {
    font-size: 20px;
    color: var(--highlight);
    margin-bottom: 5px;
}

.input-wrapper input {
    border-radius: 20px;
    border: none;
    outline: none;
    /* padding: 10px; */
    font-size: 16px;
    background-color: var(--button-background);
    transition: background-color 0.3s ease;
    text-align: center;
}

.input-wrapper input:focus {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.field {
    border-radius: 20px;
    border: none;
    outline: none;
    /* padding: 10px; */
    font-size: 16px;
    background-color: var(--button-background);
    transition: background-color 0.3s ease;
    text-align: center;
}

.title {
    font-size: 50px;
    font-family: 'Comic Neue', cursive;
    color: var(--light-green);
    margin: 10px auto 5px;
    text-align: center;
    line-height: 50px;
}

.text {
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
    color: var(--light-green);
    margin: 10px auto 5px;
    text-align: center;
    line-height: 50px;
}


.body-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    align-self: baseline;
    margin: 0 auto;

}

.button {
    border: 1px var(--highlight);
    outline: none;
    width: 75%;
    max-width: 400px;
    background-color: var(--light-green);
    text-align: center;
    vertical-align: middle;
    margin: 5px auto;
    border-radius: 50px;
    padding: 0px;
}

.button:hover {
    opacity: 0.85;
    transition-duration: 0.15s;
}

.button-text {
    color: var(--blue);
    margin: 15px 10px;
    font-size: 20px;
    font-weight: 700;
}

.shadow {
    box-shadow: 0 8px 15px rgba(60, 60, 60, 0.4), 0px 3px 5px rgba(60, 60, 60, 0.4);
    transition: all 0.3s cubic-bezier(#ffcc66);
}

.body-img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 350px;
    display: block;
    margin: 15px auto;
}

.button-wrapper {
    position: relative;
    display: flex;
    margin: auto;
    max-width: 380px;
    width: 100%;
}

.form {
    text-align: center;
    width: 100%;
    max-width: 380px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

